extends layout

block head
  link(rel="stylesheet", href="stylesheets/style.css", type="text/css")
  link(rel="stylesheet", href="stylesheets/vendor.min.css", type="text/css")


block body
  div(ng-view)
  script(src="scripts/vendor.min.js")
  script(src="scripts/app.min.js")
